<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Author</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dataset">Data Set</a></li>
            <li><a href="/xgboost">XGBoost Alg</a></li>
            <li><a href="/about">About Author</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1>About Author</h1>
        <p>ỨNG DỤNG XGBOOST PHÁT TRIỂN PHÂN HỆ HỖ TRỢ PHÂN LOẠI KHÁM CHỮA BỆNH BAN ĐẦU</p>
        <p>Tác giả: Bùi Duy Thảo</p>
        <p>SĐT: 0932333000</p>
        <p>Lớp: CK21A – KHMT</p>
        <p>Thái nguyên, 10-2024</p>
    </div>
</body> 
</html>
